[Unit]
Description=Starts the pulseaudio service for the specified user
After=reset-user-pins@%i.service

[Service]
ExecStart=/usr/bin/systemctl --user start pulseaudio.service
User=%i

[Install]
WantedBy=suspend.target
WantedBy=sleep.target
WantedBy=hybrid-sleep.target
